<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="pageSize" value="20" />
  <add key="maxPage" value="5" />

  <!--Custom email-->
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="thamit1996@gmail.com"/>
  <add key="FromEmailPassword" value="thambn811996"/>
  <add key="FromName" value="doTShop"/>
  <add key="AdminEmail" value="dvbtham@gmail.com"/>

  <add key="CurrentLink" value="http://localhost:1041/"/>
</appSettings>