@model IEnumerable<uStora.Web.Models.WishlistViewModel>

@{
    ViewBag.Title = "Danh sách các sản phẩm đã mượn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="product-content-right" id="tblCartTable">
                    <div class="woocommerce">
                        <div class="table-responsive">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th>
                                            Tên sản phẩm
                                        </th>
                                        <th>
                                            Ngày thêm
                                        </th>
                                        <th>Mua nhanh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a href="/product/@item.Product.Alias-@(item.ProductId).htm">@item.Product.Name</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                <a href="/product/@item.Product.Alias-@(item.ProductId).htm"><i class="fa fa-shopping-cart add-to-cart" id="btnAddToCart" data-id="@item.ProductId" data-toggle="tooltip" title="Thêm vào giỏ"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
