.shopping-cart-fixed {
    position: fixed;
    top: 0px;
    z-index: 999;
    right: 0px;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.add-to-cart-success {
    position: fixed;
    top: 50%;
    z-index: 999;
    right: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.contact-form {
    background: none;
    border-radius: 0px;
    border: none;
}

.no-underline {
    text-decoration: none;
    cursor: pointer;
}

.icon-center {
    margin-left: 0px;
}

.hide-text {
    display: none;
    overflow: hidden;
}

.product-f-image img {
    height: 260px;
}

.cart-mobile {
    position: fixed;
    top: 0px;
    z-index: 999;
    right: 0px;
    width: 70px;
    height: 50px;
    margin-top: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.dropdown-submenu {
    position: relative;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

.mainmenu-area ul.navbar-nav li {
    border-bottom: 1px solid white;
}

    .mainmenu-area ul.navbar-nav li:hover a,
    .mainmenu-area ul.navbar-nav li.actived a {
        background: #5a88ca;
        color: #FFF;
    }

    .mainmenu-area ul.navbar-nav li:last-child {
        border-bottom: none;
    }

.dropdown-submenu span.fa {
    padding-left: 10px;
}

.scroll {
    width: 39px;
    height: 100px;
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 15px;
    color: white;
    cursor: pointer;
}

    .scroll i {
        line-height: 49px;
        font-size: 20px;
    }

.product-hover a.action-box i.fa {
    font-size: 20px;
    padding-left: 10px;
}

.scroll-up {
    width: 100%;
    height: 49px;
    background: orange;
    margin-bottom: 2px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    opacity: 0.6;
}

    .scroll-up:hover {
        opacity: 1;
    }

.scroll-hide {
    display: none;
}

.product-upper img {
    height: 200px;
}

#map {
    height: 700px;
}

.breadcrumb-area {
    background: #FBFBFB;
    width: 100%;
    height: 60px;
}

    .breadcrumb-area .breadcrumb {
        background: none;
        line-height: 40px;
        display: block;
        margin-left: 113px;
        float: left;
    }

        .breadcrumb-area .breadcrumb li a {
            color: #5A88CA;
            font-family: Arial, Helvetica, sans-serif;
        }

ul.sortby-area {
    width: 100%;
    background: #FBFBFB;
    list-style: none;
    float: left;
    line-height: 56px;
}

.sub-menu {
    line-height: 5px;
}

ul.sortby-area li {
    display: inline;
    padding-right: 10px;
}

a.isActive {
    text-decoration: none;
    color: midnightblue;
}

.chitietthanhtoan h3 {
    background-color: #5a88ca;
    color: white;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    margin-bottom: 0px;
}

#ckecout-legend {
    background-color: #5a88ca;
    color: white;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}
#LoadUserInfo label{
    cursor: pointer;
}
