@model uStora.Web.Models.CoinViewModel
<li><a href="@Url.Action("Deposit", "Coin")"><i class="fa fa-dollar"></i> Nạp xu</a></li>
<li><label class="label label-primary"><i class="fa fa-money"></i> Số tiền hiện có: @Model.Coin (xu)</label></li>
